@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --des-blue: hsl(229, 23%, 23%);
  --dark-grey-blue: hsl(227, 10%, 46%);
  --dark-grey: hsl(0, 0%, 59%);
}

/* Font size (name and stats): 18px --> 1.125 rem */

body {
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
